Repository aria-ml/dataeval: changes, and which GitLab CI jobs are due for each by the changed paths.
All: pages, tag, publish, changelog

pages:
  stage: docs
  needs:
  - sphinx
  script:
  - mv docs/_build/html/ ./public/
  artifacts:
    paths:
    - public

tag:
  stage: build
  script:
  - ./.gitlab/auto_tag.sh
  environment:
    name: production

publish:
  stage: build
  needs:
  - tag
  image: python:$PYTHON_LATEST_SUPPORTED_VERSION
  script:
  - pip install build twine --upgrade
  - twine --version
  - python -m build
  - twine upload --repository-url ${CI_API_V4_URL}/projects/${CI_PROJECT_ID}/packages/pypi -u gitlab-ci-token -p $DAML_BUILD_PAT dist/*
  environment:
  ...

changelog:
  stage: build
  needs:
  - publish
  image: python:$PYTHON_LATEST_SUPPORTED_VERSION
  before_script:
  - pip install requests
  script:
  - python .gitlab/update_changelog.py
  environment:
    name: production

Define optional dependencies and move Output classes to related submodules
  .devcontainer/Dockerfile
  poetry.lock
  pyproject.toml
  src/daml/__init__.py
  src/daml/_internal/deps.py
  src/daml/_internal/metrics/alibi_detect/ae.py
  src/daml/_internal/metrics/alibi_detect/aegmm.py
  src/daml/_internal/metrics/alibi_detect/base.py
  src/daml/_internal/metrics/alibi_detect/llr.py
  src/daml/_internal/metrics/alibi_detect/vae.py
  src/daml/_internal/metrics/alibi_detect/vaegmm.py
  src/daml/_internal/metrics/aria/ber.py
  src/daml/_internal/metrics/aria/divergence.py
  src/daml/_internal/metrics/outputs.py
  src/daml/metrics/__init__.py
  src/daml/metrics/ber/__init__.py
  src/daml/metrics/divergence/__init__.py
  src/daml/metrics/outlier_detection/__init__.py
  tests/test_ber.py
  tests/test_divergence.py
  tox.ini
Due: tag, publish, changelog

Update CHANGELOG.md with dbfad604
  CHANGELOG.md
Due: none

Update CHANGELOG.md with 6069098e
  CHANGELOG.md
Due: none

Update devcontainers to use requirements.txt
  .devcontainer/Dockerfile
  .devcontainer/create_dev_env.sh
  .devcontainer/requirements.txt
  tox.ini
Due: none

Allow full web pipeline trigger with PUBLISH var
  .gitlab-ci.yml
Due: none

Install all extras
  Dockerfile
Due: none

Use parallel
  container-check
Due: none

Install poetry as root
  Dockerfile
Due: none

Allow use of container-check within dev container
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  container-check
Due: none

Make poetry dev groups optional
  Dockerfile
  pyproject.toml
Due: tag, publish, changelog

Update CHANGELOG.md with 997e4dac
  CHANGELOG.md
Due: none

Update CHANGELOG.md with 01876a26
  CHANGELOG.md
Due: none

Documentation overhaul
  .devcontainer/Dockerfile
  .devcontainer/create_dev_env.sh
  .gitignore
  .gitlab-ci.yml
  docs/api.rst
  docs/conf.py
  docs/index.rst
  docs/metrics.rst
  docs/metrics/ber.rst
  docs/metrics/divergence.rst
  docs/metrics/outlier-detection.rst
  docs/tutorials.rst
  docs/tutorials/BayesErrorRateEstimationTutorial.ipynb
  docs/usage.rst
  pyproject.toml
  src/daml/_internal/metrics/alibi_detect/ae.py
  src/daml/_internal/metrics/alibi_detect/aegmm.py
  src/daml/_internal/metrics/alibi_detect/base.py
  src/daml/_internal/metrics/alibi_detect/llr.py
  src/daml/_internal/metrics/alibi_detect/vae.py
  src/daml/_internal/metrics/alibi_detect/vaegmm.py
  src/daml/_internal/metrics/aria/ber.py
  src/daml/_internal/metrics/aria/divergence.py
  src/daml/_internal/metrics/base.py
  src/daml/_internal/metrics/outputs.py
  tox.ini
Due: pages, tag, publish, changelog

Remove hard deps and fix cuda LD_LIBRARY_PATH
  .devcontainer/Dockerfile
  .devcontainer/create_dev_env.sh
  .devcontainer/requirements.txt
  pyproject.toml
Due: tag, publish, changelog

First iteration demo. Trains model on 1, 4, and 9. Adds batch size to...
  docs/tutorials.rst
  docs/tutorials/OutlierDetectionTutorial.ipynb
  src/daml/_internal/metrics/alibi_detect/ae.py
Due: pages, tag, publish, changelog

Fix CHANGELOG.md from out of order updates
  .gitlab/update_changelog.py
  CHANGELOG.md
Due: none

Update CHANGELOG.md with 62fe46fd
  CHANGELOG.md
Due: none

Update CHANGELOG.md with 235d5264
  CHANGELOG.md
Due: none

Add support for python 3.11
  .devcontainer/Dockerfile
  .devcontainer/create_dev_env.sh
  .gitlab-ci.yml
  container-check
  poetry.lock
  pyproject.toml
  tox.ini
Due: tag, publish, changelog

Update CHANGELOG.md with dfe0bddb
  CHANGELOG.md
Due: none

Update CHANGELOG.md with 3fa5b62a
  CHANGELOG.md
Due: none

Add ability to select versions/tasks to run
  container-check
Due: none

Bypass poetry dynamic versioning
  Dockerfile
Due: none

Add verbose option
  container-check
Due: none

Path conditions:
  pages: any of: docs/**/*
  tag: any of: src/**/*, pyproject.toml
  publish: any of: src/**/*, pyproject.toml
  changelog: any of: src/**/*, pyproject.toml
